.cabecalho .cabecalho_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: #FFFFFF;
}

a .alura_logo {
    width: 100px;
    height: 28px;
    margin: 0;
}

#imagem_vector {
    margin: 0;
}

.buscador input {
    display: none;

    width: 230px;
    height: 40px;
    border: none;
    color: #A2A2A2; 
    background: #F5F5F5;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.buscador button {
    border: none;
    background: transparent;
}

.buscador_logo {
    width: 17.05px;
    height: 17.06px;
}

/* Banner */
.produto {
    display: flex;
    flex-direction: column;
}

#imagem_produto {
    background-image: url("../../img/star_wars/star_war_01.png");
    background-repeat: no-repeat;
    background-size: 100% 192px;
    height: 192px;
}

.info-produto {
    margin: 0;
    padding: 16px 16px;
}

.info-produto, h2, p, p {
    margin-bottom: 8px;
}

.produto-titulo {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}

.produto-preco {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.produto-descricao {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

@media (min-width: 768px) {
    
    .cabecalho .cabecalho_container {
        display: flex;
        flex-direction: row;
        height: 40px;
        justify-content: flex-start;
        padding: 16px 32px;
        gap: 32px;
    }
    
    .buscador {
        display: flex;
        width: 272px;
        height: 40px;
        background: #F5F5F5;
        border-radius: 20px;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
    }

    .buscador input {
        display: block;
    } 

    .buscador button {
        border: none;
        background: transparent;
    }

    /* Banner */
    .produto {
        flex-direction: row;
        padding: 32px 32px 0;
        gap: 16px;
        background: #E5E5E5;
    }

    #imagem_produto {
        background-size: 254px 157px;
        width: 254px;
        /* height: 157px; */
    }

    .info-produto {
        width: 434px;
        height: 157px;
        margin: 0;
        padding: 0;
    }

    .produto-titulo {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
    }

    .produto-preco {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }

    .produto-descricao {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
}


@media (min-width: 1115px) {

    .cabecalho .cabecalho_container {
        height: 114px;
        padding: 0 152px;
    }

    a .alura_logo {
        width: 176px;
        height: 50px;
    }
    
    .buscador {
        width: 393px;
    }

    .buscador input {
        display: block;
    } 

    .buscador button {
        border: none;
        background: transparent;
    }

      /* Banner */
      .produto {
        height: 403px;
        padding: 64px 152px 32px;
        align-items: center;
    }

    #imagem_produto {
        background-size: 560px 403px;
        width: 560px;
        height: 403px;
    }

    .info-produto {
        height: 210px;
        width: 50%;
    }

    .produto-titulo {
        font-size: 52px;
        line-height: 61px;
    }

    .produto-descricao {
        font-size: 16px;
        line-height: 19px;
    }
}
