/* .cabecalho {
    width: 100%;
    height: 72px;
} */

.cabecalho .cabecalho_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: #FFFFFF;
}

a .alura_logo {
    width: 100px;
    height: 28px;
}

.buscador input {
    display: none;

    width: 230px;
    height: 40px;
    border: none;
    color: #A2A2A2; 
    background: #F5F5F5;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.buscador button {
    border: none;
    background: transparent;
}

.buscador_logo {
    width: 17.05px;
    height: 17.06px;
}

@media (min-width: 768px) {
    
    .cabecalho .cabecalho_container {
        justify-content: flex-start;
        padding: 16px 32px;
        gap: 32px;
    }
    
    .buscador {
        display: flex;
        width: 272px;
        height: 40px;
        background: #F5F5F5;
        border-radius: 20px;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
    }

    .buscador input {
        display: block;
    } 

    .buscador button {
        border: none;
        background: transparent;
    }
}


@media (min-width: 1115px) {

    .cabecalho .cabecalho_container {
        height: 114px;
        padding: 0 152px;
        gap: 32px;
    }

    a .alura_logo {
        width: 176px;
        height: 50px;
    }
    
    .buscador {
        width: 393px;
    }

    .buscador input {
        display: block;
    } 

    .buscador button {
        border: none;
        background: transparent;
    }
}
